body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #F4F3F1;
  text-align: center;
 
}

.section2 {
  position: relative;
  top: -20px;
  padding-left: 120px;
  padding-right: 120px;
  height: 800px;
}

.work-for {
  background-color: #fff;
  display: inline-block;
  height: 200px;
  font-size: 3em;
  line-height: 60px;
}

.enterprise {
  background-image: url('/img/enterprise.jpg');
  color: #fff;
  font-weight: 800;
  font-size: 1.5em;
  height: 200px;
}

.startups {
  background-image: url('/img/startup.jpg');
  color: #fff;
  font-weight: 800;
  font-size: 1.5em;
  height: 200px;
}

.header-message {
  padding-top: 52px;
}

.hi-header {
  margin-top: 1.0em;
  font-size: 4.5em;
}

.hi-section2-title {
  margin-top: 3em;
  font-size: 3em;
}

.hi-header-success {
  color: #ff7e00;
}

.hi-header-primary {
  color: #fff;
}

.hi-section-subheading {
  font-size: 2.5em;
  padding-top: 0;
  padding-bottom: 0;
}
